@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Aoboshi One', serif; 

font-family: 'Poppins', sans-serif; 

font-family: 'Urbanist', sans-serif;  */


    .aoboshi {
        font-family: 'Aoboshi One', serif;
    }

    .poppins {
        font-family: 'Poppins', sans-serif;
    }

    .urbanist {
        font-family: 'Urbanist', sans-serif;
    }


    .shadow-4:hover {
        box-shadow: 0 0 4px 4px #a867f9;
      }