* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #FEFEFE;
  
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 8px 30px rgba(0,0,0,0.05);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.logo span {
  color: #6c5ce7;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links .active {
  color: #6c5ce7;
  border-bottom: 2px solid #6c5ce7;
}

.btn {
  background: #6c5ce7;
  color: white !important;
  padding: 8px 18px;
  border-radius: 10px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px 80px;
}

.top-label {
  color: #6c5ce7;
  font-size: 14px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtext {
  color: #666;
  max-width: 650px;
  margin: auto;
}

.hero-buttons {
  margin-top: 30px;
}

.primary-btn {
  background: #6c5ce7;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  margin-right: 10px;
}

.secondary-btn {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  color: #333;
}
/* RESUME POPUP MODAL */
.resume-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.resume-content {
  background: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
  animation: popupZoom 0.3s ease;
}

.resume-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Close button */
.resume-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

/* Animation */
@keyframes popupZoom {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .resume-content {
    padding: 10px;
  }
}

.hero-visual {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-visual img {
  width: 100%;
  max-width: 820px;   /* controls desktop size */
  max-height: 470px;  /* prevents tall image */
  object-fit: contain;
}
@media (max-width: 768px) {
  .hero-visual {
    margin-top: 30px;
  }

  .hero-visual img {
    max-width: 100%;
    max-height: 260px;  /* perfect mobile height */
  }
}
.hero {
  padding-bottom: 60px;
}


/* ABOUT */
.about {
  padding: 80px 20px;
}

.about-card {
  max-width: 1000px;
  margin: auto;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.05);
}

.about h2 {
  text-align: center;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about-img img {
  width: 220px;
  border-radius: 16px;
}

.about-img h4 {
  text-align: center;
  margin-top: 10px;
}

.about-text p {
  margin-bottom: 20px;
  color: #555;
}

.about-box {
  background: #f5f6ff;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .hero h1 {
    font-size: 30px;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }
}

/* SKILLS SECTION */
.skills {
  padding: 80px 20px;
  background: #f6f7fb;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.skills-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.skill-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 35px 25px;
  text-align: center;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(108, 92, 231, 0.2);
}

.skill-card img {
  width: 60px;
  margin-bottom: 20px;
}

.skill-card h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #222;
}

.skill-card p {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 26px;
  }
}
/* PROJECTS */
.projects {
  padding: 80px 20px;
  background:#FEFEFE;
  
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.projects-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.project-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}

.project-btn {
  display: inline-block;
  background: #6c5ce7;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
}

/* MOBILE */
@media (max-width: 768px) {
  .section-title {
    font-size: 26px;
  }
}
.contact-section {
  padding: 80px 20px;
 background: #f6f7fb;
  
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  background: #fff;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  gap: 40px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.06);
}

/* LEFT */
.contact-info {
  flex: 1;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-flex;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background: #f0f1ff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
}

/* RIGHT FORM */
.contact-form {
  flex: 1.2;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #f4f4f4;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  margin-bottom: 20px;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  background: #111;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 30px;
  }

  .form-row {
    flex-direction: column;
  }
}
.footer {
  background: #ffffff;
  margin-top: 80px;
  border-top: 1px solid #eee;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.footer h3, .footer h4 {
  margin-bottom: 15px;
  color: #222;
}

.footer-brand span {
  color: #6c5ce7;
}

.footer-brand p {
  color: #666;
  line-height: 1.6;
  max-width: 320px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #555;
}

.footer-links a:hover {
  color: #6c5ce7;
}

.footer-contact p {
  color: #555;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.social-icons a {
  background: #f5f6ff;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background: #f7f8ff;
  color: #666;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-brand p {
    margin: auto;
  }

  .social-icons {
    justify-content: center;
  }
}


